root = true

[*]
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4
tab_width = 4
dotnet_style_qualification_for_field = true:warning
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:silent
dotnet_style_operator_placement_when_wrapping = beginning_of_line
dotnet_code_quality_unused_parameters = non_public:silent
dotnet_style_readonly_field = true:suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members:silent
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_prefer_auto_properties = true:silent
dotnet_style_collection_initializer = true:suggestion
dotnet_style_object_initializer = true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment = true:silent
dotnet_style_prefer_simplified_boolean_expressions = true:suggestion
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_prefer_conditional_expression_over_return = true:silent
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_compound_assignment = true:suggestion
dotnet_style_prefer_simplified_interpolation = true:suggestion
dotnet_style_namespace_match_folder = true:suggestion
dotnet_style_allow_multiple_blank_lines_experimental = true:warning
dotnet_style_allow_statement_immediately_after_block_experimental = true:warning
dotnet_style_predefined_type_for_locals_parameters_members = true:silent
dotnet_style_predefined_type_for_member_access = true:suggestion
dotnet_diagnostic.CA2231.severity = warning
dotnet_diagnostic.CA2219.severity = warning
dotnet_diagnostic.CA1018.severity = warning
dotnet_diagnostic.CA1068.severity = warning
dotnet_diagnostic.CA1419.severity = warning
dotnet_diagnostic.CA1710.severity = warning
#dotnet_diagnostic.CA1711.severity = warning
dotnet_diagnostic.CA1712.severity = warning
dotnet_diagnostic.CA1715.severity = warning
dotnet_diagnostic.CA1416.severity = suggestion
dotnet_diagnostic.CA1304.severity = warning
dotnet_diagnostic.CA1305.severity = warning

spelling_checkable_types = strings,identifiers,comments
spelling_exclusion_path = .\exclusion.dic

[*.csproj]
end_of_line = crlf
indent_style = space
indent_size = 2
insert_final_newline = true

[*.cs]
dotnet_style_qualification_for_field = true:warning
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event  = false:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

csharp_new_line_before_open_brace = accessors, indexers, local_functions, methods, properties, types
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_before_members_in_anonymous_types = false
csharp_new_line_between_query_expression_clauses = false
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_labels = no_change
csharp_space_after_cast = false
csharp_space_after_comma = true
csharp_space_before_comma = false
csharp_space_after_dot = false
csharp_space_before_dot = false
csharp_space_after_semicolon_in_for_statement = true
csharp_space_before_semicolon_in_for_statement = false
csharp_space_before_open_square_brackets = false
csharp_space_around_declaration_statements = true
csharp_space_between_empty_square_brackets = false
csharp_space_between_square_brackets = false
csharp_space_after_keywords_in_control_flow_statements = false
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_parentheses = false
csharp_space_before_colon_in_inheritance_clause = false
csharp_preserve_single_line_statements = true
csharp_preserve_single_line_blocks = true

dotnet_naming_rule.async_methods_end_in_async.symbols  = any_async_methods
dotnet_naming_rule.async_methods_end_in_async.style = end_in_async
dotnet_naming_rule.async_methods_end_in_async.severity = warning

dotnet_naming_symbols.any_async_methods.applicable_kinds           = method
dotnet_naming_symbols.any_async_methods.applicable_accessibilities = *
dotnet_naming_symbols.any_async_methods.required_modifiers         = async

dotnet_naming_style.end_in_async.required_suffix = Async
dotnet_naming_style.end_in_async.capitalization  = pascal_case

# IDE --------------------------------------------------------------------------
# IDE0060: 未使用のパラメーターを削除します
dotnet_code_quality_unused_parameters = non_public:silent
# IDE0052: 読み取られていないプライベート メンバーを削除
dotnet_diagnostic.IDE0052.severity = silent
# IDE0042: 変数の宣言を分解
dotnet_diagnostic.IDE0042.severity = silent
# IDE0008: 明示的な型の使用
dotnet_diagnostic.IDE0008.severity = none
# IDE0058: 式の値が使用されていません
dotnet_diagnostic.IDE0058.severity = none
# IDE0063: 単純な 'using' ステートメントを使用する
dotnet_diagnostic.IDE0063.severity = none

dotnet_diagnostic.CA2016.severity = error
dotnet_diagnostic.CA2250.severity = warning

# code-analysis ----------------------------------------------------------------
# CA1822: メンバーを static に設定します
dotnet_diagnostic.CA1822.severity = silent
# CA1825: 長さ 0 の配列は割り当て不可
dotnet_diagnostic.CA1825.severity = warning
# CA1041: ObsoleteAttribute メッセージを指定します
dotnet_diagnostic.CA1041.severity = none

# ClrHeapAllocationAnalyzer ----------------------------------------------------
# HAA0301: Closure Allocation Source
dotnet_diagnostic.HAA0301.severity = suggestion
# HAA0601: Value type to reference type conversion causing boxing allocation
dotnet_diagnostic.HAA0601.severity = suggestion
# HAA0302: Display class allocation to capture closure
dotnet_diagnostic.HAA0302.severity = suggestion
# HAA0101: Array allocation for params parameter
dotnet_diagnostic.HAA0101.severity = suggestion
# HAA0603: Delegate allocation from a method group
dotnet_diagnostic.HAA0603.severity = suggestion
# HAA0602: Delegate on struct instance caused a boxing allocation
dotnet_diagnostic.HAA0602.severity = suggestion
# HAA0401: Possible allocation of reference type enumerator
dotnet_diagnostic.HAA0401.severity = silent
# HAA0303: Lambda or anonymous method in a generic method allocates a delegate instance
dotnet_diagnostic.HAA0303.severity = silent
# HAA0102: Non-overridden virtual method call on value type
dotnet_diagnostic.HAA0102.severity = silent
# HAA0502: Explicit new reference type allocation
dotnet_diagnostic.HAA0502.severity = none
# HAA0505: Initializer reference type allocation
dotnet_diagnostic.HAA0505.severity = silent

# SonarAnalyzer ----------------------------------------------------------------
# S1172: Unused method parameters should be removed
dotnet_diagnostic.S1172.severity = silent
# S1135: Track uses of "TODO" tags
dotnet_diagnostic.S1135.severity = silent
# S4144: Methods should not have identical implementations
dotnet_diagnostic.S4144.severity = suggestion
# S1128: Unused "using" should be removed
dotnet_diagnostic.S1128.severity = silent
# S1123: "Obsolete" attributes should include explanations
dotnet_diagnostic.S1123.severity = suggestion
# S927: parameter names should match base declaration and other partial definitions
dotnet_diagnostic.S927.severity = warning
# S1075: URIs should not be hardcoded
dotnet_diagnostic.S1075.severity = suggestion
# S125: Sections of code should not be commented out
dotnet_diagnostic.S125.severity = silent
# S1066: Collapsible "if" statements should be merged
dotnet_diagnostic.S1066.severity = none
# S112: General exceptions should never be thrown
dotnet_diagnostic.S112.severity = silent
# S1116: Empty statements should be removed
dotnet_diagnostic.S1116.severity = warning
# S1481: Unused local variables should be removed
dotnet_diagnostic.S1481.severity = suggestion
# S1199: Nested code blocks should not be used
dotnet_diagnostic.S1199.severity = none
# S3241: Methods should not return values that are never used
dotnet_diagnostic.S3241.severity = none
# S3626: Jump statements should not be redundant
dotnet_diagnostic.S3626.severity = none
# S1185: Overriding members should do more than simply call the same member in the base class
dotnet_diagnostic.S1185.severity = warning
# S1186: Methods should not be empty
dotnet_diagnostic.S1186.severity = none
# S1854: Unused assignments should be removed
dotnet_diagnostic.S1854.severity = warning
# S4136: Method overloads should be grouped together
dotnet_diagnostic.S4136.severity = suggestion
# S2365: Properties should not make collection or array copies
dotnet_diagnostic.S2365.severity = warning
# S3881: "IDisposable" should be implemented correctly
dotnet_diagnostic.S3881.severity = warning
# S3881: "IDisposable" should be implemented correctly
dotnet_diagnostic.S3881.severity = silent
# S1125: Boolean literals should not be redundant
dotnet_diagnostic.S1125.severity = suggestion
# S4456: Parameter validation in yielding methods should be wrapped
dotnet_diagnostic.S4456.severity = warning
# S3604: Member initializer values should not be redundant
dotnet_diagnostic.S3604.severity = none
# S1168: Empty arrays and collections should be returned instead of null
dotnet_diagnostic.S1168.severity = warning
# S1118: Utility classes should not have public constructors
dotnet_diagnostic.S1118.severity = warning
# S1940: Boolean checks should not be inverted
dotnet_diagnostic.S1940.severity = warning
# S3966: Objects should not be disposed more than once
dotnet_diagnostic.S3966.severity = suggestion
# S3923: All branches in a conditional structure should not have exactly the same implementation
dotnet_diagnostic.S3923.severity = warning
# S3400: Methods should not return constants
dotnet_diagnostic.S3400.severity = none
# S108: Nested blocks of code should not be left empty
dotnet_diagnostic.S108.severity = suggestion
csharp_using_directive_placement = outside_namespace:silent
csharp_style_conditional_delegate_call = true:suggestion
csharp_style_var_for_built_in_types = false:silent
csharp_style_var_when_type_is_apparent = false:silent
csharp_style_var_elsewhere = false:silent
csharp_space_around_binary_operators = before_and_after
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents_when_block = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_prefer_braces = true:silent
csharp_prefer_simple_using_statement = true:suggestion
csharp_style_namespace_declarations = block_scoped:silent
csharp_style_prefer_switch_expression = true:suggestion
csharp_style_prefer_pattern_matching = true:silent
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_prefer_extended_property_pattern = true:suggestion
csharp_style_prefer_not_pattern = true:suggestion
csharp_prefer_static_local_function = true:suggestion
csharp_style_expression_bodied_constructors = false:silent
csharp_style_expression_bodied_methods = false:silent
csharp_style_expression_bodied_properties = true:silent
csharp_style_expression_bodied_operators = false:silent
csharp_style_expression_bodied_accessors = true:silent
csharp_style_expression_bodied_indexers = true:silent
csharp_style_expression_bodied_local_functions = false:silent
csharp_style_expression_bodied_lambdas = true:silent
csharp_style_throw_expression = true:suggestion
csharp_style_prefer_null_check_over_type_check = true:suggestion
csharp_prefer_simple_default_expression = true:suggestion
csharp_style_prefer_local_over_anonymous_function = true:suggestion
csharp_style_prefer_index_operator = true:suggestion
csharp_style_prefer_range_operator = true:suggestion
csharp_style_implicit_object_creation_when_type_is_apparent = true:suggestion
csharp_style_prefer_tuple_swap = true:suggestion
csharp_style_inlined_variable_declaration = true:suggestion
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_style_unused_value_assignment_preference = discard_variable:suggestion
csharp_style_unused_value_expression_statement_preference = discard_variable:silent
csharp_style_allow_embedded_statements_on_same_line_experimental = true:warning
csharp_style_allow_blank_lines_between_consecutive_braces_experimental = true:warning
csharp_style_allow_blank_line_after_colon_in_constructor_initializer_experimental = true:error
csharp_style_prefer_top_level_statements = true:silent
csharp_style_prefer_method_group_conversion = true:silent
csharp_style_prefer_readonly_struct = true:suggestion
csharp_style_prefer_utf8_string_literals = true:suggestion
dotnet_diagnostic.CA1507.severity = warning
dotnet_diagnostic.CA1311.severity = warning

[**/*.Test/**/*.cs]
dotnet_diagnostic.IDE1006.severity = none

# VC
[*.{c,c++,cc,cpp,cppm,cxx,h,h++,hh,hpp,hxx,inl,ipp,ixx,tlh,tli}]

charset = utf-8-bom

cpp_generate_documentation_comments = xml

cpp_indent_braces = false
cpp_indent_multi_line_relative_to = innermost_parenthesis
cpp_indent_within_parentheses = indent
cpp_indent_preserve_within_parentheses = true
cpp_indent_case_contents = true
cpp_indent_case_labels = true
cpp_indent_case_contents_when_block = true
cpp_indent_lambda_braces_when_parameter = true
cpp_indent_goto_labels = one_left
cpp_indent_preprocessor = leftmost_column
cpp_indent_access_specifiers = false
cpp_indent_namespace_contents = true
cpp_indent_preserve_comments = false
cpp_new_line_before_open_brace_namespace = new_line
cpp_new_line_before_open_brace_type = new_line
cpp_new_line_before_open_brace_function = new_line
cpp_new_line_before_open_brace_block = same_line
cpp_new_line_before_open_brace_lambda = same_line
cpp_new_line_scope_braces_on_separate_lines = true
cpp_new_line_close_brace_same_line_empty_type = true
cpp_new_line_close_brace_same_line_empty_function = true
cpp_new_line_before_catch = false
cpp_new_line_before_else = false
cpp_new_line_before_while_in_do_while = false
cpp_space_before_function_open_parenthesis = remove
cpp_space_within_parameter_list_parentheses = false
cpp_space_between_empty_parameter_list_parentheses = false
cpp_space_after_keywords_in_control_flow_statements = true
cpp_space_within_control_flow_statement_parentheses = false
cpp_space_before_lambda_open_parenthesis = false
cpp_space_within_cast_parentheses = false
cpp_space_after_cast_close_parenthesis = false
cpp_space_within_expression_parentheses = false
cpp_space_before_block_open_brace = true
cpp_space_between_empty_braces = true
cpp_space_before_initializer_list_open_brace = false
cpp_space_within_initializer_list_braces = true
cpp_space_preserve_in_initializer_list = false
cpp_space_before_open_square_bracket = false
cpp_space_within_square_brackets = false
cpp_space_before_empty_square_brackets = false
cpp_space_between_empty_square_brackets = false
cpp_space_group_square_brackets = true
cpp_space_within_lambda_brackets = false
cpp_space_between_empty_lambda_brackets = false
cpp_space_before_comma = false
cpp_space_after_comma = true
cpp_space_remove_around_member_operators = true
cpp_space_before_inheritance_colon = true
cpp_space_before_constructor_colon = true
cpp_space_remove_before_semicolon = true
cpp_space_after_semicolon = true
cpp_space_remove_around_unary_operator = true
cpp_space_around_binary_operator = insert
cpp_space_around_assignment_operator = insert
cpp_space_pointer_reference_alignment = left
cpp_space_around_ternary_operator = insert
cpp_wrap_preserve_blocks = one_liners

[*.sh]
end_of_line = lf

[*.sql]
indent_style = tab

[*.{ts,js}]
indent_style = tab

[*.{scss,css}]
indent_style = tab

[*.{cshtml,html}]
indent_style = tab

[*.json]
indent_style = tab

[*.{xml,config}]
indent_style = tab

[*.xaml]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[*.bat]
indent_style = tab
indent_size = 4
charset = shift-jis

[*.pug]
indent_style = tab
indent_size = 4

[*.{ps1,psm1,psd1}]
charset = utf-8-bom
indent_style = tab
indent_size = 4

[*.yml]
indent_style = space
indent_size = 2

